@font-face {
  font-family: "Outfit";
  src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Young";
  src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}

:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --white: hsl(0, 0%, 100%);

  --fs-paragraph: 1rem;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/*
    Breakpoints
- Mobile: 375px
- Desktop: 1440px
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  min-height: 100dvh;
  background-color: var(--rose-50);
}
