@font-face {
  font-family: "Outfit";
  src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "YoungSerif";
  src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}

:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --white: hsl(0, 0%, 100%);

  --fs-paragraph: 1rem;
  --fw-normal: 400;
  --fw-semibold: 500;
  --fw-bold: 700;

  --ff-main: "Outfit";
  --ff-second: "YoungSerif";

  --spacer: 1.5rem;
}

/*
    Breakpoints
- Mobile: 375px
- Desktop: 1440px
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  min-height: 100dvh;
  background-color: var(--stone-100);
  color: var(--stone-900);
  position: relative;
}

.card {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--white);
}

.break-line {
  margin-inline: var(--spacer);
  border-bottom: var(--stone-150) 1px solid;
  margin-bottom: var(--spacer);
}

/* RECIPE */

.recipe__image {
  display: block;
  width: 100%;
  height: 13rem;
  object-fit: cover;
  object-position: center center;
  margin-bottom: var(--spacer);
}

.headline {
  margin-bottom: var(--spacer);
  padding-inline: var(--spacer);
  font-family: var(--ff-second);
  font-size: 2.5rem;
  font-weight: var(--fw-normal);
  line-height: 100%;
}

.recipe__description {
  padding-inline: var(--spacer);
  margin-bottom: var(--spacer);
  color: var(--stone-600);
  line-height: 150%;
}

.subheadline {
  font-family: var(--ff-second);
  font-size: 1.75rem;
  font-weight: var(--fw-semibold);
  color: var(--brown-800);
  margin-bottom: 1rem;
}

/* PREPARATION */

.preparation-container {
  padding-inline: var(--spacer);
  margin-bottom: var(--spacer);
}

.preparation-wrapper {
  background-color: var(--rose-50);
  border-radius: 1rem;
  padding: var(--spacer);
}

.preparation-headline {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  color: var(--rose-800);
}

.preparation-list {
  color: var(--rose-800);
  padding-inline: 1.5rem;
}

.preparation-list--item {
  margin-bottom: 0.75rem;
}

.preparation-list--item strong {
  margin-left: 1rem;
  margin-right: 0.125rem;
  color: var(--stone-600);
  font-weight: var(--fw-bold);
}

.preparation-list--item span {
  color: var(--stone-600);
  line-height: 150%;
  font-weight: var(--fw-semibold);
}

/* INGREDIENTS */

.ingredients-container {
  padding-inline: var(--spacer);
  margin-bottom: var(--spacer);
}

.ingredients-list {
  margin-left: 1.5rem;
  color: var(--brown-800);
}

.ingredients-list--item {
  /* padding-left: 1rem; */
  margin-bottom: 1rem;
}

.ingredients-list--item div {
  font-weight: var(--fw-semibold);
  color: var(--stone-600);
  line-height: 150%;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

/* INSTRUCTIONS */

.instructions-container {
  padding-inline: var(--spacer);
  margin-bottom: var(--spacer);
  font-weight: var(--fw-semibold);
}

.instructions-list {
  margin-left: 1.5rem;
  color: var(--brown-800);
}

.instructions-list--item {
  line-height: 150%;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.instructions-list--item div {
  line-height: 150%;
}

.instructions-list--item div strong {
  font-weight: var(--fw-bold);
  color: var(--stone-600);
}

.instructions-list--item div span {
  font-weight: var(--fw-semibold);
  color: var(--stone-600);
  padding-left: 0.5rem;
}

/* NUTRITION */

.nutrition-container {
  padding-inline: var(--spacer);
  padding-bottom: var(--spacer);
}

.nutrition-description {
  color: var(--stone-600);
  line-height: 150%;
  margin-bottom: 1rem;
  font-weight: var(--fw-semibold);
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table tr td {
  width: 50%;
  padding-block: 1rem;
  padding-left: 2rem;
  border-bottom: 1px solid var(--stone-150);
  color: var(--stone-600);
}

.nutrition-table tr td:last-child {
  padding-left: 0;
  font-weight: var(--fw-bold);
  color: var(--brown-800);
  border-bottom: 1px solid var(--stone-150);
}

.nutrition-table tr:last-child td {
  border-bottom: none;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10rem;
  }
  .card {
    width: 768px;
  }
}
